.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 40rem;
  font-size: 60rem;
  & > * {
    margin-top: 40rem;
  }
  label {
    display: flex;
    span {
      flex: 1;
    }
    input, select {
      flex: 3;
      -webkit-appearance: none;
    }
  }
  .submit {
    background-color: white;
    border: 1rem solid black;
  }
}
